@import "../../assets/scss/variables/colors.scss";

// .cardProjectCont:nth-of-type(3n) {
//    margin-left: 60%;
// }

.cardProjectCont {
   z-index: 1500;
   margin-left: 15%;
   max-width: 600px;
   height: 300px;
   border-radius: 1rem;
   box-shadow: 5px 5px 5px black;
   border: 6px solid $PRIMARY_LIGHT;
   background-color: #fff;
   transition: all 0.3s;
   position: relative;
   border-radius: 1rem;
   box-shadow: 3px 3px 4px rgb(236, 233, 233), -3px -3px 4px rgb(236, 233, 233);

   &:hover {
      transform: scale(1.02);
      cursor: pointer;
   }

   .cardProjectContent {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 1rem 0 0 1rem;
      }

      h2 {
         border-radius: 0.3rem;
         text-align: left;
         font-weight: 400;
         position: absolute;
         top: -55px;
         left: 1rem;
         padding: 0.4rem 0.5rem 0.5rem 0.5rem;
         // transform: translateX(50%);
         background-color: $PRIMARY;
      }
   }
}

@for $var from 1 to 20 {
   @if $var % 2 != 0 {
      .cardProjectCont:nth-of-type(#{$var}n) {
         margin-left: 15vw;
         .line-proj {
            width: 18vw;
            height: 1px;
            background-color: rgb(89, 87, 104);
            position: absolute;
         }
      }
   } @else {
      .cardProjectCont:nth-of-type(#{$var}n) {
         margin-left: 50vw;
         .line-proj {
            width: calc(12vw - 2px);
            height: 1px;
            background-color: rgb(89, 87, 104);
            position: absolute;
         }
      }
   }
}

.line-proj2 {
   // transform: a(90deg);
   width: 12vw;
   height: 3px;
   background-color: rgb(89, 87, 104);
   position: absolute;
}

.positionContentDate {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: space-around;
}
