$turn: (0.5, 1.5, 3, 5, 7, 9);

$valuesLeft: (
   "1": 15%,
   "2": 30%,
   "3": 95%,
   "4": 60%,
   "5": 75%,
   "6": 90%,
   "7": 15%,
   "8": 30%,
   "9": 85%,
   "10": 60%,
   "11": 35%,
   "12": 90%,
   "13": 60%,
   "14": 45%,
   "15": 90%,
);

$degValues: (
   "1": 10deg,
   "2": 20deg,
   "3": 150deg,
   "4": 60deg,
   "5": 30deg,
   "6": 140deg,
   "7": 70deg,
   "8": 80deg,
   "9": 110deg,
   "10": 120deg,
   "11": 90deg,
   "12": 100deg,
   "13": 180deg,
   "14": 50deg,
   "15": 40deg,
);

$heightValues: (
   "1": 1580px,
   "2": 330px,
   "3": 380px,
   "4": 750px,
   "5": 1300px,
   "6": 270px,
   "7": 380px,
   "8": 130px,
   "9": 480px,
   "10": 1050px,
   "11": 600px,
   "12": 450px,
   "13": 50px,
   "14": 450px,
   "15": 800px,
);

$topMap: (
   "1": 80px,
   "2": -130px,
   "3": 480px,
   "4": -350px,
   "5": 640px,
   "6": -220px,
   "7": 80px,
   "8": -130px,
   "9": 480px,
   "10": 1050px,
   "11": -600px,
   "12": 450px,
   "13": -50px,
   "14": 450px,
   "15": 40px,
);
