@import "../../assets/scss/variables/colors";
@import "../../assets/scss/variables/fonts";
@import "../../assets/scss/mixins/button";

.container-button {
   margin-top: 1.2rem;
   display: flex;
}

.link-button {
   text-decoration: none;
}

.button-colored {
   @include button(#fff, $SECONDARY);
}

.button {
   @include button(#000, none);
}
