@import "../../assets/scss/variables/colors";
@import "../../assets/scss/variables/fonts";
@import "../../assets/scss/mixins/button";

.container-button {
   margin-top: 1.7rem;
   display: flex;
}

.link-button {
   text-decoration: none;
}

.first {
   margin-right: 1rem;
}

.button-colored {
   @include button(#fff, $SECONDARY);
}

.button {
   @include button(#000, "none");
}
