@import "../../../assets/scss/variables/colors";

.loader-projects {
   padding: 20px;
   border: 6px solid $SECONDARY;
   border-bottom-color: transparent;
   border-radius: 3rem;
   animation: Rotate 1s infinite linear;
   height: 0;
   width: 0;
}

@keyframes Rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
