.card {
   border: 6px solid #fff;
   background-color: #fff;
   transition: all 0.3s;
   position: relative;
   max-width: 31%;
   height: 40%;
   border-radius: 1rem;
   min-width: 320px;
   box-shadow: 3px 3px 4px rgb(236, 233, 233), -3px -3px 4px rgb(236, 233, 233);

   a {
      text-decoration: none;
   }
   .container-img {
      width: 100%;
      height: 80%;
      min-height: 80%;

      img {
         width: 100%;
         height: 100%;
         border-radius: 1rem 1rem 0 0;
         object-fit: cover;
      }
   }

   .title-card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;
   }

   h2 {
      text-align: center;
      color: #000;
   }

   p {
      position: absolute;
      bottom: 0;
      left: 0.5rem;
      font-weight: 300;
      font-size: 0.8rem;
      color: #000;
   }
}

.card:hover {
   transform: scale(1.02);
}
