@import "../../assets/scss/variables/colors";
@import "../../assets/scss/variables/fonts";

.main {
   margin-top: 120px;
   // background-color: $PRIMARY_LIGHT;
   height: auto;
   position: static;
   display: block;
}

.logoTitle {
   background-color: $SECONDARY;
   margin-top: 0.8rem;
   width: 1.45rem;
   height: 1.45rem;
   display: block;
}

.title {
   padding-left: 0.5rem;
   font-family: $POPPINS;
   font-weight: 600;
   text-align: center;
}

.cardsContainer {
   // background-color: $PRIMARY_LIGHT;
   min-height: calc(100vh - 120px);
   padding: 1rem 1.5vh 2rem 1.5vh;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   column-gap: 2vw;
   row-gap: 2vw;
   flex-grow: 1;
   flex-shrink: 1;
   // border: 1px solid red;
}
