@import "../../assets/scss/variables/colors";
@import "../../assets/scss/variables/fonts";

$columnAndRow_gap: 4rem;

main.main {
   margin-top: 80px;
   height: auto;
   display: block;
   padding: 0;
}

.cont-proj {
   // position: absolute;
   // top: $columnAndRow_gap;
   // left: 20%;
   // bottom: 0;
   margin-top: 4rem;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   row-gap: $columnAndRow_gap;
   // border: 1px solid red;
}
.wrapper-sections2 {
   padding-top: 2rem;
   section {
      height: auto;
      min-height: 800px;
   }

   section:nth-child(1) {
      // background-color: $PRIMARY;
      min-width: 390px;
   }
}

.loader-pro {
   display: flex;
   justify-content: center;
}
