@import "../../assets/scss/variables/colors";
@import "../../assets/scss/variables/fonts";

@import "../../assets/scss/keyframes/appearance";

.wrapper-sections {
   position: absolute;
   top: 120px;
   left: 0;
   right: 0;
   display: grid;
   grid-template-columns: 35% 65%;

   section {
      //   border: 1px solid blue;
      height: 120vh;
   }

   section:nth-child(1) {
      background-color: $PRIMARY;
      position: relative;
      min-width: 390px;
   }
}

.card-presentation {
   position: absolute;
   top: 15%;
   right: -60px;
   width: 375px;
   height: 520px;
   background-color: $PRIMARY_LIGHT;
   box-shadow: -10px 7px 14px -10px #7a7b7b;
   display: flex;
   flex-direction: column;
   align-items: center;

   img {
      border-radius: 100%;
      width: 205px;
      height: 205px;
      object-fit: cover;
      margin-top: 2.8rem;
   }

   h2 {
      font-size: 1.8rem;
      margin-top: 2.4rem;
      font-family: "Poppins";
      max-width: 160px;
      text-align: center;
      line-height: 30px;
   }

   div {
      margin-top: 2.2rem;
      width: 50px;
      height: 2px;
      background-color: $SECONDARY;
   }

   p {
      margin-top: 2.2rem;
      font-weight: 300;
      font-size: 1.2rem;
   }

   .social {
      width: 100%;
      background-color: #ffffff;
      height: 45px;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
         text-decoration: none;
         color: #000;
         font-size: 1.5rem;
         transition: all 0.3s;
         margin-top: 0.3rem;

         &:hover {
            color: $SECONDARY;
         }
      }
      a:nth-child(2) {
         font-size: 1.65rem;
      }
   }
}

.presentation {
   position: relative;
   // border: 1px solid red;
   width: 40%;
   max-width: 380px;
   top: 20%;
   left: 100px;

   p:nth-child(1) {
      font-size: 5em;
      font-family: $POPPINS;
      font-weight: 400;
   }

   p:nth-child(2) {
      padding-bottom: 0.5rem;
   }

   p:nth-child(2),
   p:nth-child(3) {
      color: rgb(123, 122, 122);
      font-family: $LATO;
      font-size: 25px;
   }
   p:nth-child(3) {
      line-height: 3rem;
   }
}

.emoji-glasses {
   margin-left: 0.3rem;
   font-size: 18px;
}

.journey {
   font-size: 17px;
   opacity: 0;
   line-height: 2rem;
}

.p-journey {
   margin-top: 1.7rem;
   animation: Appearance 1.5s 1 0.3s forwards;
}

.p2-journey {
   margin-top: 1.2rem;
   animation: Appearance 1.5s 1 0.6s forwards;

   a {
      text-decoration: none;
      color: darken($SECONDARY, 15%);
      transition: all 0.3s;

      &:hover {
         color: $SECONDARY;
      }
   }
}

.emoji-finger {
   margin-left: 0.2rem;
}
.emoji-strong,
.emoji-finger {
   margin-left: 0.3rem;
   font-size: 18px;
}
